@using DTNL.LL.Models
@using DTNL.LL.Website.Models
@model DTNL.LL.Website.Models.ProjectDTO

@{
    ViewData["Title"] = "Edit a project";
}

<h1>Edit a project</h1>
<h3>@ViewBag.ErrorMessage</h3>

<a href="/project/@Model.Id/create-light">Add a new light</a>

<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'EditLamp')">Edit Lamp</button>
    <button class="tablinks" onclick="openTab(event, 'AllLamps')">All Lamps</button>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <div class="form-horizontal tabcontent" id="EditLamp">
            <hr />
            <partial name="_ProjectInputs"/>

            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Edit" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div id="AllLamps" class="form-horizontal tabcontent" style="display: none">
            <hr />
            <table class="table table-bordered">
                <caption>All Lights</caption>
                <thead>
                <tr>
                    <th scope="col">Uuid</th>
                </tr>
                </thead>
                <tbody>
                @foreach (LifxLightDTO light in @Model.LifxLight)
                {
                    <tr>
                        <td>@light.Uuid</td>
                        <td>@Html.ActionLink("Edit", "EditLight", new {projectId = @Model.Id, uuid = light.Uuid}) | @Html.ActionLink("Delete", "DeleteLight", "Project", new {confirm = true, uuid = light.Uuid, projectId = Model.Id}, new {onclick = "return confirm('Do you really want to delete this light?')"})</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}

<script>
function openTab(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>


