@model DTNL.LL.Website.Models.ProjectDTO

@{
    ViewData["Title"] = "Edit a project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit a project</h1>
<h3>@ViewBag.ErrorMessage</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            Project name
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProjectName, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            Customer name
            <div class="col-md-10">
                @Html.EditorFor(model => model.CustomerName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Is it active?
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            Have time range?
            <div class="col-md-10">
                @Html.EditorFor(model => model.HasTimeRange, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HasTimeRange, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Time range start
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeRangeStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeRangeStart, "", new { @class = "text-danger" })
            </div>
        </div>
    
        <div class="form-group">
            Time range end
            <div class="col-md-10">
                @Html.EditorFor(model => model.TimeRangeEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeRangeEnd )
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
