@using DTNL.LL.Website.Models
@model DTNL.LL.Website.Models.ProjectDTO

@{
    ViewData["Title"] = "Edit a project";
}

<h1>Edit a project</h1>
<h3>@ViewBag.ErrorMessage</h3>
<hr/>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div>
    <h4>Project information</h4>
    <div class="form-horizontal tabcontent" id="EditLamp">
        <partial name="_ProjectInputs" />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input style="background-color: blue; color: white;" type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>

    <hr />

    <h4>All Lights</h4>
    <a href="/project/@Model.Id/create-light"><input style="background-color: blue; color: white;" type="button" value="Add a new light" /></a>
    <div id="AllLamps" class="form-horizontal tabcontent">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Uuid</th>
                </tr>
            </thead>
            <tbody>
                @foreach (LifxLightDTO light in @Model.LifxLight)
                {
                    <tr>
                        <td>@light.Uuid</td>
                        <td>@Html.ActionLink("Edit", "EditLight", new { projectId = @Model.Id, uuid = light.Uuid }) | @Html.ActionLink("Delete", "DeleteLight", "Project", new { confirm = true, uuid = light.Uuid, projectId = Model.Id }, new { onclick = "return confirm('Do you really want to delete this light?')" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}


