@using DTNL.LL.Website.Models
@model List<DTNL.LL.Website.Models.ProjectDTO>

@{
    ViewData["Title"] = "Project";
}

<h1>Index of project</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Project" asp-action="CreateProject">Create a new project</a>

<h2>Choose which project to edit</h2>
<h3>@ViewBag.ErrorMessage</h3>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            Filter projects
            <div class="col-md-10">
                @Html.DropDownList(
                    "EditFilter",
                    new SelectListItem[]
                    {
                        new SelectListItem("Id", "id"),
                        new SelectListItem("Project Name", "projectName"),
                        new SelectListItem("Customer Name", "customerName")
                    },
                    "Select filter",
                    new { @class = "form-control" })
            </div>
        </div>

        <p>Find by filter: @Html.TextBox("SearchString")</p>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Customer name</th>
        <th>Project Name</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>
        @foreach (ProjectDTO project in @Model)
        {
        <tr>
            <td>@project.Id</td>
            <td>@project.CustomerName</td>
            <td>@project.ProjectName</td>
            <td>@project.Active</td>
            <td>@Html.ActionLink("Edit", "EditProject", new { id = project.Id }) | <a href="/project/@project.Id/create-light">Add light</a></td>
        </tr>
        }
    </tbody>
</table>

